@font-face {
    font-family: "MemphisRiver";
    src: url(fonts/MemphisRiver.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roblox";
    src: url(fonts/Roblox-Font-Regular.ttf) format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Roblox";
    src: url(fonts/Roblox-Font-Bold.ttf) format("truetype");
    font-weight: bold;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff; 
  }
  h1 {
    font-size: 3em;
    font-family: "Roblox", sans-serif;
    font-weight: bold;
  }
  
  h2 {
    font-family: "MemphisRiver", sans-serif;
    font-size: 7em;
  }
  h1,
  h2 {
    margin: 0;
    color: #256BEF;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 50%;
    text-align: center;
    color: #fff;
  }

  .container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }
  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
  }