body {
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.formSize {
    height: 60%;
    width: 60%; 
    padding: 50px;
    box-shadow: 1px 1px 20px 2px rgba(177, 176, 176, 0.4);
    border-radius: 20px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
  }


.closebtn {
    margin-bottom: 15px;
    color: #256bef;
    font-weight: bold;
    float: right;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
  }
  
  .closebtn:hover {
    color: rgb(209, 57, 57);
  }

  .add-btn {
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    
    bottom: 0px;
    justify-content: center;
  }

  .contractList {
    width: 80%;
    padding: 20px;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 15px 0px rgba(167, 167, 167, 0.4);
  }