body {
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#h4Id{
    font-family: "Montserrat";
    font-weight: 700;
    /* cursor: pointer; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Montserrat";
    font-weight: 200;
    /* position: relative;
    z-index: -1; */
}

#navigation {
    width: 100%;
    height: 50px;
    color: #fff;
    align-items: center; 
    text-align: center;
    display: flex; 
    cursor: default;
    flex-direction: column; 
    position:fixed;
    z-index:100;
    top: 0;
    padding: 10px;
    background-color: #256bef;
}

.formSize {
    height: 60%;
    width: 60%; 
    padding: 50px;
    box-shadow: 1px 1px 20px 2px rgba(177, 176, 176, 0.4);
    border-radius: 20px;
    
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
  }


.closebtn {
    margin-bottom: 15px;
    color: #256bef;
    font-weight: bold;
    float: right;
    font-size: 15px;
    line-height: 20px;
    /* cursor: pointer; */
    transition: 0.3s;
    padding: 5px;
  }
  
  .closebtn:hover {
    color: rgb(209, 57, 57);
  }

  .add-btn {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    justify-content: center;
  }


  .contractList {
    width: 80%;
    padding: 20px;
    color: black;
    border-radius: 15px;
    text-align: left;
    font-family: "Montserrat";
    cursor: auto; 
    text-decoration-color: black;
    box-shadow: 0px 2px 15px 0px rgba(167, 167, 167, 0.4);
  }

  .whole-screen {
    align-items: center; 
    align-content: center;
    flex-direction: row; 
    padding-top: 70px;
    width: 80%;
    /* margin-top: 100; */
  }